* {
    box-sizing:border-box; 
}


body {
  font:300 15px/24px "Open Sans", sans-serif;
  color:#bbb;
  font-weight: bold;
  user-select: none;
}

.keyboard {
  margin:30px auto;
  width:90%;
  height:400px;
  padding:30px 80px;
  border-radius:10px;
}

.key-row {
  display:-webkit-flex;
  margin:0 auto 7px;
  line-height:50px;
}


.key { 
  background:#444;
  color:#eee;
  border-radius:4px;
  margin:0 6px 0 0; 
  text-align:center;
  box-shadow:0 1px 0 #222, inset 0 1px 3px rgba(255,255,255,0.1);
  transition:0.1s;
  align-items:center;
  align-content:center;
  height:57px;
  border:2px solid rgba(0,0,0,0.08);
  cursor:pointer;
}


.key:active { 
    transform:translateY(1px); 
    background:#333; 
    box-shadow:0 1px 0 #000;}

.item { 
    flex:1; 
}

.Ctrl, .Tab { 
    flex:1.5; 
}

.Backspace, .CapsLock, .ENTER { 
    flex:2; 
} 

.Shift { 
    flex:2.5; 
}

.spacebar {
     flex:7.5; 
    }

.blackColorKeys {
    background: rgb(49, 48, 48);
    color: rgb(102, 101, 101);
}

.blueColorKeys{ 
    background: rgb(99, 99, 243);
    color: #444;
}

